*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.debug *{
    border: 1px dashed;
}

/* #region utilities */

body{
    overflow: hidden;
    height: 100vh;
}

#content{
    overflow: visible;
}


#top_container{
    display:flex;
    height: 80%;
    width: 100%;

}
#bottom_container{
    height: 20%;

}
ul{
    list-style-type: none;
    li{
        padding-right:0.5rem;
        padding-left:0.5rem;
    }*
}

a{
    text-decoration: none;
}
/* #enregion utilities */

/* #region sidebar */

#sidebar{
    width: 400px;
        /*padding-left: 0.5rem;
    padding-right:0.5rem;*/
}
.logo{
    padding:2rem;
    background-color: greenyellow;
}
.list_y{
    
    li{
        padding-top:0.5rem;
        padding-bottom: 0.5rem;

    }
    
    
}

/* footer sidebar */

.footer_sidebar{
    
    padding-top:2.5rem
    /* con aggiunta della scrollbar è possibile aumentare il padding (?) */
}

/* #endregion sidebar */

/* #region content */

#content{
    width: 100%;
}
.grid{
    display: grid;
    flex-wrap: ;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr ;
    width:100%;
    gap: 1rem;
 }

 .box{
    height: 200px;
    width: 200px;
    background-color: aquamarine;
    border-color: red;
    
    
 }



/* #endregion content */