*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.debug *{
    border: 1px dashed;
}
img{
    max-width: 100%;
}

/* #region utilities */

body{
    overflow: hidden;
    height: 100vh;
    font-family: "Roboto", sans-serif;
    
    font-style: normal;
}

#content{
    overflow: visible;
}


#top_container{
    display:flex;
    height: 80%;
    width: 100%;

}
#bottom_container{
    position:absolute;
    height: 20%;

}
ul{
    list-style-type: none;
    li{
        padding-right:0.5rem;
        padding-left:0.5rem;
    }
}

a{
    text-decoration: none;
}
/* #enregion utilities */

/* #region sidebar */

#sidebar{
    
    width: 400px;
    height: 80vh;
    font-weight: 200;
    background-color: rgb(58, 57, 57);
    padding-left: 0.5rem;
    padding-right:0.5rem;
}
.logo{
    
    img{
        width: 70%;
    }
    padding:2rem;
    background-color: rgba(13, 13, 13, 0.897);
    .logo_sm{
        display: none;
    }
}
.list_y_menu{
    
   

    width: 90%;
    
    img{
        width: 10%;
        float: left;
        padding-top:0.2rem;
    }
    h5{
        padding-left: 2rem;
        padding-top:0.5rem;
        width: 80%;
        color: rgb(167, 163, 163);
      
    
    }
  
    }

    .card_home{
        display: flex;
        flex-direction: column;
        align-items: ;
    }

/* PLAYLIST */

.title_section{
    h5{
        padding-top: 0.5rem;
        padding-top: 0.5rem;
        padding-left:0.5rem;
        color: white;
    }
}
    .crea{
        display: flex;
        padding-top:0.5rem;
        padding-bottom: 0.5rem;
        align-items: center;
        
        h5{
            padding-left: 1rem;
        }
    }

    
    .greybox{
        padding: ;
        width: 40px;
        height: 40px;
        background-color: darkgray;
        display: flex;
        justify-content: center;
        float: left;

        
    }
    .fa-plus{
            padding: 0.5rem;
    
    }
/* NOME PLAYLIST */
    .list_y_playlist{

        li{
            padding-top: 0.3rem;
            padding-bottom: 0.3rem;
        }
    }
    
    /*.home{
        display: flex;
        align-items: center;
        width: 90%;
    

    img{
            padding:0.5rem;
            width: 3rem;
                    }


                }*/
    /*li{ 
        padding-top:0.5rem;
        padding-bottom: 0.5rem;
        width: 100%;
        display: flex;
        
        
        
        

    }*/
  
    


/* footer sidebar */

.footer_sidebar{
    
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-top:1rem;

        /* con aggiunta della scrollbar è possibile aumentare il padding (?) */
}

.download{
    img{
        width: 6%;
        float: left;
    }
    h5{ 
        padding-left: 1.5rem;
    }
    hr{ 
        
        padding:0.5;
        color: rgb(151, 143, 143);
        width: 70%;
    }
}
.account{ 
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

   
    img{
        width: 6%;
        float: left;
        border-radius: 50%;
     }

     
     h5{
        color:white;
        padding-left: 1.5rem;
     }
}
/* #endregion sidebar */

/* #region content */

#content{
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}
.header_content{
    display: flex;
    justify-content: flex-end;
    padding-right: 2rem;
    width: 100%;

    span{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding:1rem;
        border-radius: 30px;
        width: 300px;
        h3{
            display: inline-block;
        }
    }
}
.menu_x{
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 0.5em;
   
}
.r_m_X{
    
    display: flex;
    flex-wrap: wrap;
    width: 65%;
    justify-content: space-between;
    
    
}
.botton-x{
    position: relative;
    padding:0.5rem;
    background-color: rgb(182, 177, 187);
    cursor: pointer;
}
.botton-x:active{
    position: absolute;
    width: 50px;
    height:3px;
    color: green;
}
.grid{
    display: grid;
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr ;
    width:98%;
    gap: 2rem;
    padding-left:5%;
    padding-top: 2rem;
    
    
 }

 .box{
    height: 240px;
    width: 170px;
    background-color: rgb(78, 90, 86);
    border-style: ;

    .card{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
       
    
    
    
 }
 .description_title{
    padding-bottom: 2rem;
 }



/* #endregion content */

/* #region bottom */


#bottom{
    width: 100%;
   
    
    background-color: coral;
    
}
.control_section{
    padding: 0.5rem;
    display:flex;
    justify-content: center;
    

    .col-3{
        width: calc((100%/12)*3);
    }
    
    .col-6{
        width: calc((100%/12)*6);
    }
    .botton_loading{
        padding: 0.5rem;
        display:flex;
        flex-direction: column;
        
    }
    .botton{
        display: flex;
        padding: 1rem;
        justify-content: space-between;
       
    }

    .listening{
        display: flex;
        justify-content: flex-start;
        
    }
    .control{
        display: flex;
        justify-content: flex-end;

    }
}

/* #endregion boottom */

/* #region media */
    /* spotify large (desktop) */
    @media screen and (min-widht: 1100px){

  
    }

    /* spotify medium (tablet)*/
    @media screen and (min-width: 768px) and (max-width: 1099px) {
            /* la griglia si compone di 4 elementi in prima riga e 2 in seconda riga*/
            
            

            .grid{
                display: grid;
                display: flex;
                flex-wrap: wrap;
                grid-template-columns: 1fr 1fr 1fr 1fr ;
                grid-template-rows: 1fr 1fr;
                width:95%;
                gap: 1rem;
                padding-left:5%;
                
             }
             .box{
                height: 150px;
                width: 150px;
                background-color: rgb(243, 224, 119);
                border-color: red;
                
            }
 /* header content */
            .header_content{
                display: flex;
                justify-content: space-around;
                padding-right: 2rem;
                padding-left: 2rem;
                width: 100%;
    
                span{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    padding:1rem;
                    border-radius: 30px;
                    width: 300px;
                    h3{
                        display: inline-block;
                    }
                }
            }
    }



    /* spotify small (large mobile)*/
    @media screen and (min-width: 600px) and (max-width: 768px){
                /* la griglia si compone di 2e*3r */
                .grid{
                    display: grid;
                    display: flex;
                    flex-wrap: wrap;
                    grid-template-columns: 1fr 1fr ;
                    grid-template-rows: 1fr 1fr 1fr 1fr;
                    width:95%;
                    gap: 1rem;
                    padding-left:5%;
                    
                 }
                 .box{
                    height: 150px;
                    width: 150px;
                    background-color: rgb(243, 224, 119);
                    border-color: red;
                    
                    
                 }
                 .header_content{
                    display: flex;
                    justify-content: space-around;
                    padding-right: 2rem;
                    padding-left: 2rem;
                    width: 100%;
        
                    span{
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: center;
                        padding:1rem;
                        border-radius: 30px;
                        width: 300px;
                        h3{
                            display: inline-block;
                        }
                    }
                }

    }



    /* spotify xs (mobile) */
    @media screen  and (max-width: 600px){
        
        /* grid 2e*3r --> meny_y closed (only icon) */

        #sidebar{
            width: 70px;

            .list_y{
                h3{
                    display: none;
                }
            }
            .playlist{
                display: none;
            }

            .logo{
                width: 60px;
            }

            .logo_lg{
                display: none;
            }
            .logo_sm{
                width: 100%;
            }
            
        }
        .header_content{
            display: flex;
            justify-content: space-around;
            padding-right: 2rem;
            padding-left: 2rem;
            width: 100%;

            span{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                padding:1rem;
                border-radius: 30px;
                width: 5300px;
                
            }
        }

    }